{% block extends %}
    {{ "{% extends 'LarABMGeneradorBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block contenido -%}" }}

    <div class="panel panel-primary">

        <div class="panel-heading">
            {{ entity }} {{ '{{ entity }} ' }}
        </div>
        <div class="panel-body">
            <p>
                {#menseje acorde#}
            </p>


            <table class="table">
                <tbody>
                {%- for field, metadata in fields %}

                    <tr>
                        <th>{{ field|capitalize }}</th>

                        {%- if metadata.type in ['date', 'datetime'] %}

                            <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

                        {%- else %}

                            <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                        {%- endif %}

                    </tr>

                {%- endfor %}

                </tbody>
            </table>

        </div>
        {% set hide_edit, hide_delete = false, false %}
        <div class="panel-footer">
            <div class="row">
                {% include 'crud/views/others/record_actions.html.twig' %}
            </div>
        </div>
    </div>
    {{ "{% endblock contenido %}" }}
{% endblock body %}
